
    <!--====== PORTFOLIO PART START ======-->

    <section id="portfolio" class="portfolio-area portfolio-four pb-100">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-title text-center pb-10">
                        <h3 class="title">Featured Works</h3>
                        <p class="text">Stop wasting time and money designing and managing a website that doesn’t get results. Happiness guaranteed!</p>
                    </div>
                    <!-- section title -->
                </div>
            </div>
            <!-- row -->
            <div class="row">
                <div class="col-lg-3 col-md-3">
                    <div class="portfolio-menu text-center mt-50">
                        <ul>
                            <li data-filter="*" class="active">ALL WORKS</li>
                            <li data-filter=".research-4">RESEARCH</li>

                            <li data-filter=".marketing-4">COMPUTER VISION</li>
                            <li data-filter=".branding-4">ML & AI</li>
                            <li data-filter=".planning-4">BIG DATA</li>

                        </ul>
                    </div>
                    <!-- portfolio menu -->
                </div>
                <div class="col-lg-9 col-md-9">
                    <div class="row no-gutters grid mt-50">
                        <div class="col-lg-4 col-sm-6 branding-4 planning-4">
                            <div class="single-portfolio">
                                <div class="portfolio-image">
                                    <img src="{% static 'images/portfolio/accelerometer.jpeg' %}" alt="">
                                    <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                        <div class="portfolio-content">
                                            <div class="portfolio-icon">
                                                <a class="image-popup" title="The project is done for a Canadian construction company. The objective of the project is the analysis of  single channel(link) and two channel(link) vibration signals from beams, measured with accelerometers." href="{% static 'images/portfolio/accelerometer.jpeg' %}"><i class="lni lni-zoom-in"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                            <div class="portfolio-icon">
                                                <a href="projects.html"><i class="lni lni-link"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg'%}" alt="shape" class="shape">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single portfolio -->
                        </div>
                        <div class="col-lg-4 col-sm-6 marketing-4 research-4">
                            <div class="single-portfolio">
                                <div class="portfolio-image">
                                    <img src="{% static 'images/portfolio/cosole.jpg' %}" alt="">
                                    <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                        <div class="portfolio-content">
                                            <div class="portfolio-icon">
                                                <a class="image-popup" href="{% static 'images/portfolio/cosole.jpg' %}"><i class="lni lni-zoom-in"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                            <div class="portfolio-icon">
                                                <a href="#"><i class="lni lni-link"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single portfolio -->
                        </div>
                        <div class="col-lg-4 col-sm-6 branding-4 marketing-4">
                            <div class="single-portfolio">
                                <div class="portfolio-image">
                                    <img src="{% static 'images/portfolio/led.jpg' %}" alt="">
                                    <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                        <div class="portfolio-content">
                                            <div class="portfolio-icon">
                                                <a class="image-popup" href="{% static 'images/portfolio/led.jpg' %}"><i class="lni lni-zoom-in"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                            <div class="portfolio-icon">
                                                <a href="#"><i class="lni lni-link"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single portfolio -->
                        </div>
                        <div class="col-lg-4 col-sm-6 planning-4 research-4">
                            <div class="single-portfolio">
                                <div class="portfolio-image">
                                    <img src="{% static 'images/portfolio/welding.jpg' %}" alt="">
                                    <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                        <div class="portfolio-content">
                                            <div class="portfolio-icon">
                                                <a class="image-popup" href="{% static 'images/portfolio/welding.jpg' %}"><i class="lni lni-zoom-in"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                            <div class="portfolio-icon">
                                                <a href="#"><i class="lni lni-link"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single portfolio -->
                        </div>
                        <div class="col-lg-4 col-sm-6 marketing-4">
                            <div class="single-portfolio">
                                <div class="portfolio-image">
                                    <img src="{% static 'images/portfolio/sitepics/iv.Identification/1853609-IMG-0041.jpg' %}" alt="">
                                    <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                        <div class="portfolio-content">
                                            <div class="portfolio-icon">
                                                <a class="image-popup" href="{% static 'images/portfolio/sitepics/iv.Identification/1853609-IMG-0041.jpg' %}"><i class="lni lni-zoom-in"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                            <div class="portfolio-icon">
                                                <a href="#"><i class="lni lni-link"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single portfolio -->
                        </div>
                        <div class="col-lg-4 col-sm-6 planning-4">
                            <div class="single-portfolio">
                                <div class="portfolio-image">
                                    <img src="{% static 'images/portfolio/sitepics/iv.Identification/1853611-falseconts.png' %}" alt="">
                                    <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                        <div class="portfolio-content">
                                            <div class="portfolio-icon">
                                                <a class="image-popup" href="{% static 'images/portfolio/sitepics/iv.Identification/1853611-falseconts.png' %}"><i class="lni lni-zoom-in"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                            <div class="portfolio-icon">
                                                <a href="#"><i class="lni lni-link"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single portfolio -->
                        </div>
                        <div class="col-lg-4 col-sm-6 research-4">
                            <div class="single-portfolio">
                                <div class="portfolio-image">
                                    <img src="{% static 'images/portfolio/sitepics/ix.nmrsynthetic/1622370065-0.png' %}" alt="">
                                    <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                        <div class="portfolio-content">
                                            <div class="portfolio-icon">
                                                <a class="image-popup" href="{% static 'images/portfolio/sitepics/ix.nmrsynthetic/1622370065-0.png' %}"><i class="lni lni-zoom-in"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                            <div class="portfolio-icon">
                                                <a href="#"><i class="lni lni-link"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single portfolio -->
                        </div>
                        <div class="col-lg-4 col-sm-6 branding-4 planning-4">
                            <div class="single-portfolio">
                                <div class="portfolio-image">
                                    <img src="{% static 'images/portfolio/sitepics/vii.nmrone/fwhm.png' %}" alt="">
                                    <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                        <div class="portfolio-content">
                                            <div class="portfolio-icon">
                                                <a class="image-popup" title="The project is about the minimization of atomic norm of a two channel vibration signal. The task was accomplished with the help of Discrete Cosine Transform (DCT). Consistent decrease of norm of DCT coefficients was observed and it was utilized in the compression process. The reconstruction  was performed and the expected squared error between the actual signal and the reconstructed signal was computed and found within tolerable limits. "
                                                    href="{% static 'images/portfolio/sitepics/vii.nmrone/fwhm.png' %}"><i class="lni lni-zoom-in"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                            <div class="portfolio-icon">
                                                <a href="#"><i class="lni lni-link"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single portfolio -->
                        </div>
                        <div class="col-lg-4 col-sm-6 marketing-4">
                            <div class="single-portfolio">
                                <div class="portfolio-image">
                                    <img src="{% static 'images/portfolio/sitepics/x.nmrmask/1622370488-1.png' %}" alt="">
                                    <div class="portfolio-overlay d-flex align-items-center justify-content-center">
                                        <div class="portfolio-content">
                                            <div class="portfolio-icon">
                                                <a class="image-popup" href="{% static 'images/portfolio/sitepics/x.nmrmask/1622370488-1.png' %}"><i class="lni lni-zoom-in"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                            <div class="portfolio-icon">
                                                <a href="#"><i class="lni lni-link"></i></a>
                                                <img src="{% static 'images/portfolio/shape.svg' %}" alt="shape" class="shape">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single portfolio -->
                        </div>
                    </div>
                    <!-- row -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </section>

    <!--====== PORTFOLIO PART ENDS ======-->
